body {
    background-color: #4d77aa;
    overflow: scroll;
}

.header-section a:hover, #reeflog-logo a:hover {
    text-decoration: none;
}

.avatar {
    width: 100px;
    height: 100px;
}

.container {
    margin-top: 50px;
}

.name {
    margin-top: 0;
    font-size: 35px;
}

.yellow-text {
    color: #ffd966
}

.white-text {
    color: #ffffff;
}

.italic-text {
    font-style: italic;
}

#settings-box, #logout-box, .header-section a {
    font-size: 22px;
    color: #ffd966;
}

.settings-box-glyphicon, .glyphicon-log-out {
    margin-left: 5px;
}

#reeflog-logo {
    font-family: 'Ubuntu', sans-serif;
}

#reeflog-logo h1 {
    font-size: 60px;
}

#content-container {
    padding-top: 15px;
}

#login-container {
    margin-top: 25px;
}

.border {
    border-radius: 20px;
}

.search {
    border-radius: 20px;
}

.login-section{
    margin-top: 100px;
}

.login {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: block;
    font-size: 2em;
}

.updated {
    width: 50%;
    margin: 10px 25%;
    font-size: 17px;
}

/*------------------------------------------------------------REEFLOG---------------------------------------------------------------------------------*/
nav {
    background-color: #ffffff;
    border-radius: 25px;
}

.yearDiv {

}

.yearDiv h2 {
    background-color: #253f5f;
    color: #ffffff;
    display: block;
    width: 100%;
    border-radius: 25px;
    padding: 5px 10px;
    overflow: auto;
}

.dayDiv {
    background-color: #4d77aa;
    color: #000000;
    border-radius: 15px;
    overflow: auto;
    margin-bottom: 10px;
}

.dayDiv h3 {
    padding-left: 28px;
}

.entryDiv {
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 10px;
    height: 200px;
    margin: 10px;
    float: left;
    padding: 0;
}

.entryDiv img {
    height: 200px;
    margin-bottom: 10px;
    width: 30%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    float: left;
}

.entryDiv button {
    width: 20%;
    height: 200px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 18px;
    background-color: #229f58;
    color: #FFFFFF;
    border:  none;
}
.entryDiv h4{
    display: block;
    font-size: 2.5em;
    background-color: #253f5f;
    color: #FFFFFF;
    width: 50%;
    float: left;
    margin: 0;
    padding: 10px 0 10px 20px;
}

.modal-dialog {
    width: 90%;
}

.modal-content {
    background-color: #4d77aa;
    border-radius: 25px;
}

.modal-footer, .modal-header {
    border: none;
}

.modalImg {
    display: block;
    height: 350px;
    width: 350px;
}

#reefName {
    width: 350px;
    height: 100px;
    margin-top: 0;
    background-color: #253f5f;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 36px;
    line-height: 2.5;
}

.modalDescription {
    height: 450px;
    width: 45%;
    margin-left: 3.2%;
    background-color: #ffffff;
    overflow: auto;
}

.modalImg, #reefName {
    margin: 0 auto;
}

#search-date-list a {
    color: #000000;
    font-size: 26px;
}

#search-date-list, .yearUl {
    padding: 10px;
}

.yearLi {
    font-weight: bold;
    list-style-type: none;
}

.monthLi {
    padding-left: 40px;
    list-style-type: none;
}

#searchBox {
    padding: 20px;
}

#searchBox label {
    font-size: 20px;
}

textarea {
    resize: none;
}
#modalDescriptionEdit, #modalCoralUserDescription {
    height: 250px;
    width: 100%;
}

.modal-button {
    width: 100%;
    margin: 5px auto;
    font-size: 20px;
}

[type=file] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
}




